aiohttp==3.9.1
aiosignal==1.3.1
asn1crypto==1.5.1
async-timeout==4.0.3
attrs==23.2.0
basicauth==1.0.0
certifi==2023.11.17
certvalidator==0.11.1
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.7
fifolock==0.0.20
frozenlist==1.4.1
greenlet==3.0.3
idna==3.6
multidict==6.0.4
oscrypto==1.3.0
passlib==1.7.4
pem==23.1.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pysqlite3==0.5.2
PyXB==1.2.6
requests==2.31.0
six==1.16.0
SQLAlchemy==2.0.25
SQLAlchemy-Utils==0.41.1
sztpd==0.0.15
urllib3==2.1.0
yangson==1.5.1
yarl==1.9.4
