aiohttp==3.8.5
aiosignal==1.3.1
asn1crypto==1.5.1
async-timeout==4.0.3
attrs==23.1.0
basicauth==1.0.0
certifi==2023.7.22
certvalidator==0.11.1
cffi==1.15.1
charset-normalizer==3.2.0
cryptography==41.0.3
fifolock==0.0.20
frozenlist==1.4.0
greenlet==2.0.2
idna==3.4
multidict==6.0.4
oscrypto==1.3.0
passlib==1.7.4
pem==23.1.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pysqlite3==0.5.1
PyXB==1.2.6
requests==2.31.0
six==1.16.0
SQLAlchemy==2.0.20
SQLAlchemy-Utils==0.41.1
sztpd==0.0.15
urllib3==2.0.4
yangson==1.4.18
yarl==1.9.2
